/*reset*/
html, body, div, h1, h2, h3, em, ul, li, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


h2 {
  border-bottom: 3px solid #ccc;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}

div.top-nav {
  overflow: auto;
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #ececec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f5f5f5 0%,#ececec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f5f5f5 0%,#ececec 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#ececec 100%); /* W3C */
}

div.doctor-id {
  float: right;
  padding: 10px;
  text-align: right;
  font-family: Helvetica;
  vertical-align: center;
}

div.doctor-id h3 {
  color: #3e3e3e;
}

#dialog label, #dialog input { display:block; z-index: -1 }
#dialog label { margin-top: 0.5em; z-index: -1; }
#dialog input, #dialog textarea { width: 95%; z-index: -1 }
#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#add_tab { cursor: pointer; }

#dose {
	float: left;
	text-align: center;
	width: 50%;
}

#avg-dose {
	float: right;
	text-align: center;
	width: 50%;
}

#factors-table {
	width: 100%;
}