<!DOCTYPE html>
<html>
<head> 
  <title>Doctor-in-a-Box</title>
  <%= include lib %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
  <script src="/javascripts/app.js"></script>
  <%= include templates %>
</head>
<body>
  <script type="text/x-handlebars">
    <header>
      <img src="images/logo.png"></img>
      <div id="doctor-settings"></div>
      <div id="doctor-welcome">Welcome back, Dr. Lee.</div>
    </header>
    <div id="workspace">
      {{ outlet }}
    </div>
  </script>
</body>
</html>
