<!DOCTYPE html>
<html>
<head> 
  <title>Doctor-in-a-Box</title>
  <%= include lib %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
  <script src="/javascripts/dinab.js"></script>
  <script src="/javascripts/app.js"></script>
  <%= include templates %>
</head>
<body>
  <script type="text/x-handlebars">
    <div class="top-nav">
      <img src="images/logo.png"></img>
      <div class="doctor-id">Welcome back, Dr. Lee.</div>
    </div>
    <div class="container-fluid"><div class="row-fluid">
      <div class="span2 patient-view">
        {{ outlet patient_view }}
      </div>
      <div class="span10 dose-adjustment">
        {{ outlet }}
      </div>
    </div></div>
  </script>
</body>
</html>
