<div class="patient-profile">
  <img src="images/profile.png">
</div>
<h2 class = "header basic">Patient Information</h2>
<div class="list-containers">
  <ul class = "categories">
    <li>Name</li>
    <li>Birthdate</li>
    <li>Gender</li>
    <li>MR</li>
    <li>Acct No.</li>
  </ul>
  <ul class = "patient-info">
    <li>John Doe</li>
    <li>3/10/1960</li>
    <li>Male</li>
    <li>123456789</li>
    <li>987654321</li>
  </ul>
</div>
<h2 class = "header med">Recent Medication</h2>
<div class="list-containers">
  <ul class = "drugs">
    <li>Cordarone 1mg</li>
    <li class = "date">03/21/12</li>
    <li>Zyprexa Zydis 2mg</li>
    <li class = "date">02/12/12</li>
    <li>Naproxen 2mg</li>
    <li class = "date">02/21/13</li>
  </ul>
</div>
<h2 class = "header cond">Recent Conditions</h2>
<div class="list-containers">
  <ul class = "conditions">
    <li>Atrial Fibrillation</li>
    <li class = "date">03/21/12</li>
    <li>Diabetes, Type 1</li>
    <li class = "date">05/12/12</li>
    <li>Knee Surgery</li>
    <li class = "date">02/21/13</li>
  </ul>
</div>
<div class="button-container">
  <button id = "profile" type = "submit">View Complete Profile</button>
</div>
