<div id="dashboard">
    <div class="dash container-fluid">
    <div class="overview2 row-fluid">
      <div class="span4">
        <div class="name2">
        	<div class="large">{{#linkTo dosing}} Dose Adjustment {{/linkTo}}</div>
        	<div class="small">Calculate drug dosage based on genetic information.</div>
        </div>
        <div class="value2">{{#linkTo dosing}}<img src="images/doseadj.png">{{/linkTo}}</div>
      </div>
      <div class="span4">
        <div class="name2">
        	<div class="large">Disease Risk</div>
        	<div class="small">Calculate risk for diseases based on genetic information.</div>
        </div>
        <div class="value2"><img src="images/risk.png"></div>
      </div>
      <div class="span4">
        <div class="name2">
        	<div class="large">Ancestry</div>
        	<div class="small">View patient ancestry based on genetic information.</div>
        </div>
        <div class="value2"><img src="images/ancestry.png"></div>
      </div>
    </div>
  </div>
</div>
