<div id="dosing">
  {{view GTCA.DrugTextField placeholder="Enter condition to prescribe for..."
                            class="condition"
                            valueBinding="condition"}}

  {{#if condition_specified }}
    {{view GTCA.DrugTextField placeholder="Add drug..."
                              class="drug"
                              valueBinding="drug"}}

    <div class="results">
      {{view Bootstrap.Tabs itemTitleKey="title"
                            contentBinding="content"
                            selectionBinding="selection" class="tab_title"}}

      {{#with selection }}
      <div class="drug container-fluid">
        <div class="session_title">
          <div class="label_title">MEDICATION - CONDITION(S)</div>
          <div class="medication_title">Warfarin - Atrial Fibrillation</div>
        </div>
        <div class="overview row-fluid">
          <div class="span6">
            <div class="name">
              <div class="large">John Dou</div>
              <div class="small">should take</div>
            </div>
            <div class="value">{{ dosage }}</div>
          </div>
          <div class="span6">
            <div class="name">
              <div class="large">Typical Dosage</div>
              <div class="small">without genetic information</div>
            </div>
            <div class="value">{{ typical_dosage }}</div>
          </div>
        </div>
        <div class="factors row-fluid">
          <div class="span12">
            <table>
              <tr>
                <th>Patient has the following factors</th>
                <th>Effect on Dosage</th>
                <th></th>
              </tr>
              {{#each factors}} 
              <tr>
                <td {{bindAttr class=":factor type"}}>
                  <div class="name">{{ name }}</div>
                  <div class="type">{{ type }}</div>
                </td>
                <td class="effect"><span class="increase">{{ effect }}</span></td>
                <td class="learn_more"><span>Learn More</span></td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
      {{/with}}
    </div>
  {{/if}} 
</div>
