<div id="patient-overview">
  <div class="basic-info">
    <h1 class="header basic">Patient Information</h2>
    <table>
      <tr><td>Name</td><td>{{ first_name }} {{ last_name }}</td></tr>
      <tr><td>Birthdate</td><td>{{ birth_date }}</td>
      <tr><td>Gender</td><td>{{ gender }}</td></tr>
      <tr><td>MR</td><td>{{ mr_id }}</td></tr>
      <tr><td>Acct No.</td><td>{{ acct_id }}</td></tr>
    </table>
  </div>
  <div class="recent-medication">
    <h1 class="header basic">Current Medication</h2>
    <table>
      <tr>
        <td><div>Naproxen</div><div>03/21/2013</div></td>
        <td>2mg</td>
      </tr>
      <tr>
        <td><div>Metformin</div><div>02/01/2011</div></td>
        <td>3mg</td>
      </tr>
      <tr>
        <td><div>Aspirin</div><div>12/19/2010</div></td>
        <td>1mg</td>
      </tr>
    </table>
  </div>
  <div class="recent-conditions">
    <h1 class="header basic">Recent Conditions</h2>
    <table>
      <tr><td><div>Atrial Fibrillations</div><div>03/21/2012</div></td></tr>
      <tr><td><div>Diabetes, Type 1</div><div>02/01/2011</div></td></tr>
      <tr><td><div>Knee Surgery</div><div>12/19/2010</div></td></tr>
    </table>
  </div>
  <!-- <button id="profile">View Complete Profile</button> -->
</div>
