<div class = "drug-content">
    <div id="dialog" title="Calculate Dose">
        <form>
      <fieldset class="ui-helper-reset">
              <!--<label for="search2">Search: </label>
            <input id="search2" />-->
            <input id = "search2" type="text" name="drug" title="drug" style="color:#888;" 
            value="Enter a Drug" onfocus="inputFocus(this)" onblur="inputBlur(this)" />
      </fieldset>
        </form>
    </div>
    <div id="tabs">
        <ul>
            <!--<li><a href="#tabs-1">Warfarin</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>-->
            <button id="add_tab">+</button>
        </ul>
        <div id="tabs-1"> </div>
    </div>
</div>
<div id="content">
    <div id="dose">
      John Doe should take<br>
        2mg
    </div>
    
    <div id="avg-dose">
      Avg. Dose
        without genetic info
    </div>
    
    <br><br><br>
    
    <table id="factors-table">
        <tr>
            <td>Genotype/Phenotype Factors</td>
            <td>Importance in Prediction</td>
        </tr>
        <tr>
            <td>CYP2C9*2</td>
            <td>UP</td>
            <td><button type="submit">LEARN MORE</button></td>
        </tr>
        <tr>
            <td>VKORC11639/3673AA</td>
            <td>UP</td>
            <td><button type="submit">LEARN MORE</button></td>
        </tr>
        <tr>
            <td>Asian</td>
            <td>DOWN</td>
            <td><button type="submit">LEARN MORE</button></td>
        </tr>                    <tr>
            <td>Heart Surgery</td>
            <td>DOWN</td>
            <td><button type="submit">LEARN MORE</button></td>
        </tr>
    </table>
</div>
