<script type="text/x-handlebars" data-template-name="patient">
  <div id="sidebar">
    {{ outlet patient_view }}
  </div>
  <div id="module" class="container-fluid">
    {{ outlet }}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="patient/index">
  <div class="title">Home</div>
  {{#linkTo patient.dosing}} Dosing {{/linkTo}}
</script>

<script type="text/x-handlebars" data-template-name="patient/dosing">
  <div class="title">Dose Adjustment</div>
  <%= include patient_dosing_template %>
</script>

<script type="text/x-handlebars" data-template-name="patient-sidebar">
  <%= include patient_sidebar_template %>
</script>

