<script type="text/x-handlebars" data-template-name="patient">
  <div id="sidebar">
    {{ outlet patient_view }}
  </div>
  <div id="module">
    {{ outlet }}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="patient/index">
  <div class="title">Home</div>
  <%= include patient_dashboard_template %>
</script>

<script type="text/x-handlebars" data-template-name="dosing">
  <div class="buttons">
    <div class="save"></div>
    <div class="print"></div>
  </div>
  <div class="title">Dose Adjustment</div>
  {{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="dosing/index">
  <%= include patient_dosing_template %>
</script>

<script type="text/x-handlebars" data-template-name="patient-sidebar">
  <%= include patient_sidebar_template %>
</script>
