#dosing {
  background: #e6e6e6;
  margin: 10px;
  
  // reset bootstrap tab formatting
  ul { margin-bottom: 0; }
  
  div.drug {
    padding: 20px;
    color: #5a5a5a;
  
    div.overview {
      text-align: center;

      // predicted, typical dosage boxes
      > div {
        .drop-shadow(0, 0, 3px, 0.1);
        border: 1px solid fade(#040404, 15%);
        margin-bottom: 10px;

        .name {
          .bolded; 
          padding: 25px 0;
          font-size: 2em;
          background: #f6f6f5;
          border-bottom: 1px solid fade(black, 5%);
        }

        .value {
          padding: 40px 0;
          font-size: 3em;
          background: white;
        }
      }
    }  

    div.factors {
      .drop-shadow(0, 0, 3px, 0.1);
      border: 1px solid fade(#040404, 15%);

      table {
        width: 100%;

        tr { 
          border-bottom: 1px solid fade(black, 5%);
        }
        
        th {
          background: #f6f6f5;
          .bolded;
          padding: 15px;
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }

        td {
          padding: 12px 15px;
          background-color: white;

          &.factor {
            padding-left: 60px;
            background-repeat: no-repeat;
            background-position: 17px center;
            background-size: auto 45%;

            &.SNP { background-image: url(/images/snp.png); }
            &.Condition { background-image: url(/images/condition.png); }
            &.Ethnicity { background-image: url(/images/ethnicity.png); }

            .name {
              font-size: 1.05em;
              .bolded;
            }

            .type {
              font-size: 0.8em;
              line-height: 1em;
            }
          }

          &.effect {
            .bolded;
            font-size: 1.1em; 
            text-align: center;
          }

          &.learn_more { 
            text-align: right;
            span {
              cursor: pointer;
              .bolded;  
              text-transform: uppercase;
              font-size: 0.8em; 
              background: #676767;
              padding: 7px 15px;
              color: white;
              .rounded(3px);
              border-top: 1px solid fade(white, 35%);
              .box-shadow(0 -1px 1px #676767);
            }
          }
        }
      }
    }
	
    div.learn-more {
      padding: 20px;
      color: #5a5a5a;
	  background: white;
	  border: 1px solid fade(#040404, 15%);
	  
	  > h1, h3 {
	    text-align: center;
		background: #f6f6f5;
		border: 1px solid fade(#040404, 15%);
	  }
	  
	  > h4 {
		margin: 10px 20px;	  
	  }
	  
	  span {
	    font-weight: bold;
	  }
	  
	  div#snp-data-desc, div#publication-desc {
	    border: 1px solid black;
		margin: 20px;
		padding: 10px;
	  }
	  
	  li {
	    list-style: none;
	  }
	  
	  table {
	    margin-left: auto;
		margin-right: auto;
		
	    &.snp-data {
	  	  margin-left: auto;
		  margin-right: auto;
		  width: 80%;
		}
		
		&.publication-data {
		  text-align: center;
		  width: 90%;
		}
		
		tr {
	      td.param {
			font-weight: bold;
		  }
		  
		  td {
		    border-bottom: 1px solid fade(black, 5%);
			width: 20%;
			padding-bottom: 10px;
		  }
		  
		  th {
		    width: 20%
		  }
		}
	  

	  }
    }
  }
} 
